
*{
  margin: 0px;
  padding: 0px;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Body */
.logo h2 {
  font-size: 45px;
  font-weight: 900px;
}

.color-orange {
  color: #FD6E0A;
}

.btn {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #FD6E0A;
  padding: 18px 35px;
  cursor: pointer;
}

.section-heading {
  width: 827px;
  margin: 0 auto;
  text-align: center;
}
.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}

/* Main Body */
header {
  background-color: #FFF8F3;
  background: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: 23px 38px, bottom right;
  padding-top: 20px;
}


nav {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}
 nav .menu a {
  text-decoration: none;
  color: #474747;
}

#banner {
  display: flex;
  text-align: justify;
  justify-content: space-between;
  align-items: center;
  margin: 161px 38px 0px 230px ;
 }

 #banner .banner-content {
  max-height: 356px;
  max-width: 585px;
 }

#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom:30px;
}
#banner .banner-image img{
  max-width: 584px;
  vertical-align: middle;
}

#about {
  padding-top: 130px;
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 56px ;
}
#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p{
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-info .info-card h4 {
  font-size: 20px;
}

 /* Section  skills  */

 #skills {
  width: 71%;
  max-width: 1140px;
  padding-top: 130px;
  margin: 0 auto;
 }

#skills .skills-container .skill-cards {
  display: flex;
  max-width: 1140px;
  gap: 24px;
}

#skills .skills-container .skill-cards .cards {
  border: none;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 50px 0 hsla(0, 0%, 0%, 0.5)
}
#skills .skills-container .skill-cards .cards img {
  height: 44px;
  width: 44px;
  text-align: left;
  margin-bottom: 30px;
}
#skills .skills-container .skill-cards .cards h3 {
  font-size: 20;
  font-weight: bold;
  margin-bottom: 20px;
}
#skills .skills-container .skill-cards .cards p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
.text-centre{
  text-align: center;
}

/* resume */
#resume {
  margin-top: 130px;
}

#resume .section-heading h2 {
  margin-top: 130px;
}

#resume .resume-container {
  display: flex;
  gap: 24px;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
  padding: 0px;
}
#resume .resume-container .resume-card {
  max-width: 511px;
  max-height: 175px;
  padding-right: 10px ;
}

#resume .resume-container .head-title h2 {
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
#resume .resume-container .resume-card h2 {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
  margin-top: 30px;
}
#resume .resume-container .resume-card h4 {
  font-size: 15px;
  color: #757575;
  margin-bottom: 20px;
}
#resume .resume-container .resume-card p {
  font-size: 16px;
  color: #757575;
  margin-bottom: 30px;
}
#resume .resume-container .resume-card {
  width: 511px;
  height: 175px;
}

footer{
  margin-top: 130px;
  background-color: #FFF8F3;
  padding: 130px 0;
}
footer .footer-container {
  width: 71%;
  max-width:1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}

.footer-container .social{
  max-width: 562px;
}
.footer-container h2 {
  color: #181818;
  font-size: 35px;
  margin-bottom: 20px;
}
.footer-container p {
  color: #474747;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 30px
}

.footer-container .icons a{
  margin-right: 24px;
}

.footer-container form input[type="text"],.footer-container form textarea {
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
  box-shadow: 0px 2px #181818a7;
}